<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>create</title>
    </head>

    <body>
        <h1>Add the Note</h1>
        <h4>You can post here.</h4>
        <form action="/add" method="POST" enctype="multipart/form-data">
            Title<br>
            <input type="text" name="title" placeholder="Input the title"/><br>
            Text<br>
            <textarea name="maintext" cols="50" rows="10" placeholder="Input the maintext"></textarea><br><br>  
            Password (Optional)<br>
            <input type="password" name="postpw" placeholder="Configure the post password (Only INT)"/><br><br>
            <input type=file name=filename placeholder="Put the file">
            <input type=submit value=Upload>
        </form>
    </body>
</html>