<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Forgot ID or Password</title>
</head>
<body>
    <h2>Forgot ID or Password</h2>
    <p>Please Enter the email address where your ID and PW will be sent.</p>
    <p>Please Enter the email you entered when signing up</p>
    <form action="/forgot" method="post">
        Email: <input type="email" name="email"><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>
