<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>home</title>
</head>
<body>
    <h1>Welcome!</h1>
    <!-- 아래는 사용자 이름 출력 기능 -->
    {% if session['loggedin'] %}
    <p>Hello, {{ session['name'] }}!</p>
    {% endif %}
    <!-- 아래는 logout 기능 -->
    {% if session['loggedin'] %}
    <a href="{{ url_for('logout') }}" class="button logout-button">Logout</a>
    {% endif %}
    <a href="{{ url_for('board') }}" class="button go-button">Go to Board</a><hr>
    
    <h2>Member User</h2>
    <p>You can Create, Read, Update, Delete </p>
    <form action="{{ url_for('login') }}" method="post">
        ID: <input type="text" name="id"><br>
        Password: <input type="password" name="pw"><br>
        <input type="submit" value="Login">
    </form>
    
    <a href="{{ url_for('register') }}" class="button add-button">Sign Up</a><br>
    <a href="{{ url_for('forgot_pw') }}" class="button add-button">Forgot ID or Password?</a><br>

    <h2>Guest User</h2>
    <p>You can Read only</p>
    <a href="{{ url_for('board') }}" class="button board-button">Go to Guest Mode</a><hr>
</body>