<!-- update.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <h1>Update Board</h1>
    <form action="{{ url_for('update', no=post[0]) }}" method="POST">  <!-- 'uid' 대신 'no' 사용 -->
        title<br>
        <input type="text" name="title" value="{{ post[1] }}"/><br>
        Text<br>
        <textarea name="context" cols="50" rows="10">{{ post[2] }}</textarea><br><br>  <!-- 'maintext' -> 'context' -->
        <input type="submit" value="submit"/><br>
    </form>
</body>
</html>
